.header {
    display: block;
    position: fixed;
    width: 100%;
    text-align: center;
    justify-content: space-between; 
        height: 200px;
        background: #385952;
        padding: 20px 20px;
        border-bottom: 1px solid #385952;
        box-shadow: 0 8px 26px rgba(0,0,0,0.2);
      
    }
    .head {
        margin-bottom: 25px;
        display: flex;
        justify-content: space-between; 
        align-items: baseline;
    }
    
    .logo-logo {
        font-weight: 800;
        font-size: 60px;
        color: #bfac6c;
    }
    .logo-city {
        font-size: 30px;
        color: #bfac6c;
    }
    .logo {
        display: flex;
      padding: 10px;
    }
    .navi {
        display: block;
    }
    .navi-list {
        display: inline-flex;
        // margin-right: 30px;
        padding: 10px;
      
    }
    .navi-text {
        margin: 20px;
        line-height: 16px;
        font-size: 20px;
        color: white;
        &:hover {
            color: #bfac6c;
        }
    }
    .tas {
        display: flex;
        justify-content: space-between; 
        align-items: baseline;
        padding: 10px;
    }
    .dsa {
        line-height: 16px;
        font-size: 20px;
        color: #bfac6c;
        width: 100%;
        display: inline-flex;
        justify-content: space-around;
    }