.main {
    display: flex;
    justify-content: center;
    background-image: url(../images/BGmin.png);
   background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
}
.main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1000px;
    background-color: #385952;
    padding-top: 200px;

}
.section {
    // display: flex;
    // justify-content: center;
    // align-items: center;
 
    // display: block;
    width: 1000px;
    color: white;
    font-size: 28px;
    line-height: 1.5;
    margin-top: 30px;
    text-align: center;
  padding: 0 10px;
}
.action_discription {
    background-color: red
    ;
}
.section:last-child {
    margin-bottom: 50px;
}
.button {
    background-color: #d7b877;
    border-radius: 15px;
    color: white;
    padding: 10px;
    margin-top: 15px;
    cursor: pointer;
}
.section:not(:last-child) {
    margin-bottom: 20px;
}
.section_alt {
    margin-bottom: 15px;
    padding: 10px;
    background-color: red;
}
.ausstel {
    margin-bottom: 20px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .section {
width: 320px;
    }
    .main-section {
        
        padding-top: 100px;
    
    }
h2 {
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 1.36;
letter-spacing: .03em;
}
p {
    font-weight: 500;
font-size: 16px;
line-height: 1.6;
letter-spacing: .08em;
}
.servise_menu_list_item{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: .08em; 
}
.preise_deko {
    display: none;
}
.preise_item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: .04em; 
    text-align: justify;
}
.preise_item:not(:last-child){
    margin-bottom: 20px;
}
.ankauf_section {
    display: block;
 
}
.ankauf_img {
    width: 320px;
   
}
.fleir {
  width: 300px;
}
}
@media screen and (min-width: 768px) and (max-width: 1343px) {
    .section {
        width: 680px;
        padding: 0 50px;
            }
            .ankauf_img {
                width: 680px;
            }
            .preise_item {
                font-weight: 500;
                font-size: 16px;
                line-height: 1.6;
                letter-spacing: .04em; 
                text-align: justify;
            }
            .fleir {
                width: 100%;
                margin: 20px 0;
              }
}

@media screen and (min-width: 1344px) {
    .ankauf_section {
        display: flex;
        justify-content: space-between; 
    }
    .section {
        padding: 0 50px;
            }
    .fleir {
        width: 100%;
      }
}
.preise_deckription {
    font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.36;
letter-spacing: .03em;
    margin-bottom: 20px;
}
