// .service_main {
//     padding-top: 200px;
// }
.servise_menu_list {
    // align-items: center;
    text-align: left;
}
.servise_menu_list_item {
    align-items: center;
}
.servise_title {
    margin-bottom: 15px;
}
.reparatur_section_text {
    margin-bottom: 30px;
}
.ankauf-item:nth-child(2n) {
    color: #bfac6c;
  }